@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    /* padding: 0; */
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

body {
    /* background-color: #404040; */
    background-color: rgb(21, 32, 43);
        /*#232325; */
}

.navbar {

    padding: 20px 20px;
    color: whitesmoke;
    background-color: #3CA67C;
    font-weight: bold;
    border-bottom-left-radius:10px ;
}


ul,
li,
a {
    text-decoration: none;
    list-style: none;
    display: inline;
    color: whitesmoke;
    font-weight: bold;
}

.nav-items {
    padding: 0px 10px;
    float: right;
}


.footer-bar {
    /* position: fixed; */
    padding-top: 15rem;
    left: 0;
    bottom: 0;
    /* padding: 2rem 2rem; */
    width: 100%;
    text-align: center;
    /* background-color:#3CA67C ; */

}

.foo-tab {
    padding: 1rem 2rem;
    margin: 3rem;
    display: inline;
    font-size: 1rem;
    
}

.mid-info {
    margin: auto;
    padding-top: 5rem;
    padding-right: 20px;
    width: 400px;
}

.project {
    padding-top: 5px;

}

.project-info {
    padding-top: 20px;
    margin-left: 25%;
    margin-right: 20%;
    padding: 10px 10px;

    margin-bottom: 10px;
}

button {
    display: inline-block;
    padding: 15px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 5px;
    color: black;


}

button:hover {
    background-color: #3CA67C;
}

button:active {
    background-color: #3CA67C;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.img-inverted{
    color: #3CA67C;
}
.img-heading{
    padding-top: 1rem;
    padding-bottom: 3rem;
    color: whitesmoke;
}
h1{
    text-align: center;
    color: whitesmoke;
    padding-top: 1rem;
}

h2 {
   color: #3CA67C; 
}
h4{
    color:white;
    font-weight: 2px;
}

span{
    color: #3CA67C; 
    
}

.blog-page{
    padding-top:50px;
    text-align: center;
}

.blog-item{
    padding-top: 30px;
    margin-left: 25%;
    margin-right: 20%;
    padding: 10px 10px;
    margin-bottom: 10px;

}

.off-white-section {
    /* margin-left: 2rem;
    margin-right: 2rem; */
    margin: 3rem 3rem;
    border: 1px solid  rgba(255, 255, 255, 0.637);
    /* border-radius: 4px; */
    text-align: center;
    padding:2rem  2rem;

}

.container h3{
    padding-bottom: 1rem;
    font-weight: bold;
    color:#3CA67C;
}
.container p{
    color: whitesmoke;
    padding-bottom: 1rem;
}
.section{
    padding:1rem 0.5rem;
    
}
.container-center{
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.container{
    padding: 0 0.5rem;
    /* text-align: justify; */
}


