@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #141414;
}

img {
    width: 100%;
    height: auto;
}



/* ---------------navbar styles -------------------------------*/
.navbar {
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding:1rem;
    color: whitesmoke;
    background-color: #059669;
    height: 15vh;
    border-bottom-left-radius:1rem ;
}

.navbar h3{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    align-self: start;
}

.nav-links{
    float: right;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

nav .nav-links .nav-items {
    padding: 0px 10px;
    float: right;
}

.navbar .link-active{
    font-weight: bold;
}
ul,
li,
a {
    text-decoration: none;
    list-style: none;
    display: inline;
    color: whitesmoke;
} 

/* -------------projects page styles -----------*/
.project {
    padding-top: 0.5rem;

}
.project-info {
    margin-left: 25%;
    margin-right: 20%;
    padding: 2rem;
    border: 0.5px solid  rgba(255, 255, 255, 0.637); 
    margin-bottom: 3rem;
}


/*-------------------- home page styles-------------- */

.my-info{
    padding-bottom: 0.5rem;
}




button {
    display: inline-block;
    padding: 15px 15px;
    font-size: 12px;
    font-weight:normal;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 5px;
    color: black;
}

button:hover {
    background-color: #059669;
}

button:active {
    background-color: #059669;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.img-inverted{
    color: #059669;
}
.img-heading{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: whitesmoke;
}
h1{
    text-align: center;
    color: whitesmoke;
    padding-top: 1rem;
}

h2 {
   color: #059669; 
}
h4{
    color:whitesmoke;
    padding-top: 1rem;
    font-weight: lighter;
}

span{
    color: #059669; 
    font-size: 2rem;
    
}

/*------------------ blogs page styles-------------- */

.blog-page{
    padding-top:1rem;
    text-align: center;
    margin: 2rem;
   
}

.blog-item{
    padding: 1rem;
    margin: auto;
    /* margin-left: 25%;
    margin-right: 20%;
    margin-bottom: 10px; */
    border:0.5px solid  rgba(255, 255, 255, 0.637);

}



.off-white-section {
    /* margin: 3rem 3rem; */
    text-align: center;
    padding:2rem  2rem;

}

.container.container-center{
border: 0.5px solid  rgba(255, 255, 255, 0.637); 
padding: 2rem;
 
}

.container h3{
    padding-bottom: 1rem;
    font-weight: bold;
    color:#059669;
}
.container p{
    color: whitesmoke;
    padding-bottom: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
    /* text-align: center; */
}
.container{
    padding: 0 0.5rem;
    /* text-align: justify; */
}

.off-white-section .container-center .link-secondary{
    font-weight: bolder;
}

.date{
    color: whitesmoke;
}



/*------------ footer style ----------*/

.footer{
  position:relative;
  height: 7rem;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: #059669; */
  border-top-right-radius: 1rem;
  color: white;
  text-align: center;
  margin-top: 2rem;

}

.footer .social-links{
    padding: 10px;
    background-color: #059669;
    border-radius: 50%;
}

.footer .foo-info .social-tab{
    margin-top: 1rem;  
    /* background-color: #059669; */

}


/*-------- my pic style ------------*/

.pic{
   /* position: relative; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url(images/mypic.jpg); 
   background-size:cover;
   width: 300px;
   height: 300px;
   margin: auto;
   margin-top: 2rem;
   border-radius: 50%;

}

/* 
@media only screen and (max-width: 600px) {
    ;
} */